@model Ecomerce.Models.Pais

@{
    ViewData["Title"] = "Criação de País";
}

<h3><i class="fa-solid fa-square-plus"></i> Novo País </h3>

<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        * <label asp-for="PaisNome" class="control-label label-required"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-text-width"></i></span>
                            <input asp-for="PaisNome" class="form-control" title="Nome do País em liguagem nacional." placeholder="Ex. BRASIL" />
                        </div>
                        <span asp-validation-for="PaisNome" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PaisNomeIngles" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-text-width"></i></span>
                            <input asp-for="PaisNomeIngles" class="form-control" title="Nome do País linguagem estrângeira." placeholder="Ex. BRAZIL" />
                        </div>
                        <span asp-validation-for="PaisNomeIngles" class="text-danger"></span>
                    </div>
                </div>

            </div>
            
            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="PaisIsoCodigo" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-barcode"></i></span>
                            <input asp-for="PaisIsoCodigo" class="form-control" title="Código do País definido em ISO." placeholder="Ex. BRA" />
                        </div>
                        <span asp-validation-for="PaisIsoCodigo" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="PaisCodigo" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-barcode"></i></span>
                            <input asp-for="PaisCodigo" class="form-control" title="Código do País mundialmente." da moeda" placeholder="Ex. BR" />
                        </div>
                        <span asp-validation-for="PaisCodigo" class="text-danger"></span>
                    </div>

                </div>

            </div>
            
            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="PaisMoeda" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-coins"></i></span>
                            <input asp-for="PaisMoeda" class="form-control" title="Nome da moeda utilzada." placeholder="Ex. REAL"/>
                        </div>
                        <span asp-validation-for="PaisMoeda" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="PaisMoedaAbrev" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-coins"></i></span>
                            <input asp-for="PaisMoedaAbrev" class="form-control" title="Abreviatura da moeda utilizada." placeholder="Ex. R$"/>
                        </div>
                        <span asp-validation-for="PaisMoedaAbrev" class="text-danger"></span>
                    </div>

                </div>

            </div>   
            
            <hr />
            
            <div class="form-group">
                <button type="submit" title="Gravar as informçõs do País."class="btn btn-dark"><i class="fa-solid fa-floppy-disk"></i> Gravar</button> &nbsp;
                <a class="btn btn-warning" title="Retornar a lista de Paises." asp-action="Index"><i class="fa-solid fa-circle-arrow-left"></i> Voltar</a>
            </div>

            <hr />

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
