@model Ecomerce.Models.Cliente

@{
    ViewData["Title"] = "Novo Cliente";
}

<h3><i class="fa-solid fa-square-plus"></i> Novo Cliente</h3>

<hr />

<div class="row">

    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col-md-4">

                    <div class="form-group">
                        * <label asp-for="CpfCnpj" class="control-label label-required"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                            <input asp-for="CpfCnpj" pattern="\d*" maxlength="14" id="CpfCnpj" class="form-control" />
                        </div>
                        <span asp-validation-for="CpfCnpj" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-8">

                    <div class="form-group">
                        * <label asp-for="Nome" class="control-label label-required"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-text-width"></i></span>
                            <input asp-for="Nome" class="form-control" />
                        </div>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                       <label asp-for="NomeRazaoSoc" class="control-lab"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-text-width"></i></span>
                            <input asp-for="NomeRazaoSoc" class="form-control" />
                        </div>
                        <span asp-validation-for="NomeRazaoSoc" class="text-danger"></span>
                    </div>

                </div>
            </div>            

            <div class="row">

                <div class="col-md-12">

                    <div class="form-group">
                        * <label asp-for="Email" class="control-label label-required"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@@</span>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <div class="form-group">
                        <label asp-for="Apelido" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-text-width"></i></span>
                            <input asp-for="Apelido" class="form-control" />
                        </div>
                        <span asp-validation-for="Apelido" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                            <input asp-for="Celular" class="form-control" />
                        </div>
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="TelefoneFixo" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                            <input asp-for="TelefoneFixo" class="form-control" />
                        </div>                        
                        <span asp-validation-for="TelefoneFixo" class="text-danger"></span>
                    </div>


                </div>

            </div>

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        * <label asp-for="Genero" class="control-label label-required"></label>
                        <select asp-for="Genero" class="form-control">
                            <option value="0">Masculino</option>
                            <option value="1">Feminino</option>
                            <option value="2">Outro</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        * <label asp-for="DataNascimento" class="control-label label-required"></label>
                        <input asp-for="DataNascimento" class="form-control" />
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Foto para identificação</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-file-image" aria-hidden="true"></i></span>
                            <input asp-for="Image" type="file" class="form-control" data-val="false" />
                        </div>                        
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-">
                    <div class="form-group">
                        <label asp-for="Info" class="control-label"></label>                        
                        <textarea asp-for="Info" rows="4" style="width: 100%;"></textarea>                        
                        <span asp-validation-for="Info" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-dark"><i class="fa-solid fa-floppy-disk"></i> Gravar</button>
                <a class="btn btn-dark" asp-action="Index"><i class="fa-solid fa-circle-arrow-left"></i> Voltar</a>
            </div>

        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
